<div [@routerTransition]>
    <app-page-header [heading]="'Menus'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-lg-6">
            <form role="form" [formGroup]="form" (ngSubmit)="save()">
                <fieldset class="form-group"  >
                    <label>Nome</label>
                    <input class="form-control" [formControl]="form.controls['men_nome']" [ngClass]="{ 'is-invalid': submitted  && form.controls['men_nome'].errors }" >
                </fieldset>
                <fieldset class="form-group">
                    <label>Menu Pai</label>
                    <select  class="form-control" placeholder="Enter text" [formControl]="form.controls['men_men_codigo']">
                        <option value="">Selecione...</option>
                        <option *ngFor="let op of menus" value="{{op.men_codigo}}">{{op.men_nome}}</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <bSwitch
                        [switch-off-text]="'Inátivo'"
                        [switch-on-text]="'Ativo'"
                        [switch-on-color]="'success'"
                        [switch-off-color]="'danger'"
                        [formControl]="form.controls['men_ativo']"
                    >
                    </bSwitch>
                </fieldset>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button"  [routerLink]="['/menu']"class="btn btn-warning">Cancelar</button>
            </form>
        </div>
    </div>
</div>