<div [@routerTransition]>
    <app-page-header [heading]="'Menus'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-12">
        <div class="card">
            <div class="card-header">Lista de menus
                <div class="float-right">
                    <a [routerLink]="['/menu/add']"  preserveQueryParams preserveFragment class="btn btn-sm btn-primary">
                            <i class="fa fa-plus"></i> Adicionar
                    </a>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Menu Pai</th>
                        <th>Ativo</th>
                        <th class="text-right">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let o of list">
                        <td>{{o.men_codigo}}</td>
                        <td>{{o.men_nome}}</td>
                        <td>
                            {{o.Parent != null ? o.Parent.men_nome : ""}}</td>
                        <td>
                             <button *ngIf="o.men_ativo == '1'" class="btn btn-sm  btn-success">Sim</button>
                             <button *ngIf="o.men_ativo == '0'" class="btn btn-sm btn-danger">Não</button>
                        </td>
                        <td class="text-right">
                                <a [routerLink]="['/menu/edit/' + o.men_codigo]" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                 &nbsp;
                                <button (click)="delete(o.men_codigo)" class="btn btn-sm btn-danger m-l-2">       
                                    <i class="fa fa-trash"></i>
                                </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                          <tr>
                              <td colspan="5">
                                    <ngb-pagination 
                                        [collectionSize]="pagination.total" 
                                        [(page)]="pagination.page" 
                                        (pageChange)="pageChange($event)"
                                    aria-label="Paginação de lista de contatos"></ngb-pagination>
                              </td>
                          </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>