<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard'  }}</span>
        </a>
        <div class="nested-menu">
            <ng-container *ngFor="let nav of navbar">
                <a class="list-group-item"  (click)="changePage(nav)" >
                        <i class="fa {{nav.icon}}" [ngClass]="{'fa-plus': nav.childrens.length > 0 && !toogleMenu}"></i> &nbsp;
                            <span>{{nav.nome}}</span>
                </a>
                <ng-container  *ngTemplateOutlet="submenu;context:nav"></ng-container> 
            </ng-container>
        </div>
        <ng-template #submenu  let-navbar="childrens">
                <li class="nested" [class.expand]="toogleMenu">
                    <ul class="submenu" >
                        <li *ngFor="let nav of navbar">
                            <a  class="list-group-item" (click)="changePage(nav)">
                                <i class="fa {{nav.icon}}" [ngClass]="{'fa-plus': nav.childrens.length > 0}"></i> &nbsp;
                                {{ nav.nome }}
                                </a>
                            <ng-container  *ngTemplateOutlet="submenu;context:nav">
                            </ng-container>
                        </li>
                    </ul>
                </li>
        </ng-template>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Fechar Menu'  }}</span>
    </div>
</nav>