<h2>Books List</h2>

<div *ngFor="let book of books">
    <div class="book-container">
        <span> {book.titile} </span>
        <span> {book.ISBN} </span>
        <span> {book.category} </span>
        <span> {book.year} </span>
    </div>
</div>