<div class="container">
  <h1>Book Form</h1>
  <form>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" required>
    </div>

    <div class="form-group">
      <label for="isbn">ISBN:</label>
      <input type="text" class="form-control" id="isbn">
    </div>
    
    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" class="form-control" id="category">
    </div>
    
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="text" class="form-control" id="year">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>